*{
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body{
    background-color: #000000;
    margin-bottom: 2%;
}
li, a{
    text-decoration: none;  
    color: #d1d5db;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
    width: 100%;
    background-color: #0f0f0f;
    min-height: 300px;
}
.front{
    font-size: 13px;
}
.front h1{
    line-height: 1.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}
.course{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #d1d5db;
}
nav{
    margin-right: 10%;
}
.nav_links  {
    list-style: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    color: #d1d5db;
}
.socials{
    list-style: none;
}
.socials li{
    display: inline-block;
    padding:10px 3px;
}
.socials img{
    height: 18px;
    width: 18px;
    color: #d1d5db;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
    background-color: #000000;
}
.left-col{
    flex-basis: 30%;
    padding: 0px 10px;
}
.right-col{
    flex-basis: 70%;
    padding: 0px 100px;
    
}
.right-col h1{
    font-size: 4.25rem;
    line-height: 2.5rem;
}
.right-col h2{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #d1d5db;
}
.right-col p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 20px 0 70px;
}
.left-col img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    cursor: pointer;
}
footer{
    width: 100%;
    text-align: center;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    margin: 0px;
}
.footer-about{
    background-color: black;
}
footer hr{
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 2%;
    color: #d1d5db;
}
footer h4{
    text-align: left;
    color: #d1d5db;
    margin: 0 12%;
    font-size: 18px;
}   
section{
    background-color: rgb(0, 0, 0);
    padding: 80px 12%;
    min-height: 300px;
}
.content{
    margin-top: 3%;
}
.content h1{
    font-size: 7rem;
    line-height: 1rem;
}
.content p{
    font-size: 2rem;
    line-height: 3rem;
}
.main{
    margin-top: 5%;
}
.col1{
    background-color:#000000;
    color: #d1d5db;
    width: 70%;
    float: left;
    min-height: 300px;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 5%;
}
.side{
    background-color: #000000;
    min-height: 300px;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.side p{
    color: #d1d5db;
}
.soc{
    line-height: 2rem;
    color: #d1d5db;
}
.soc a{
    font-family: monospace;
}
section .contact{
    background-color: rgb(0, 0, 0);
    padding: 60px 12%;
    min-height: 300px;
}
.main_contact{
    margin-top: 3%;
    text-align: left;
    font-size: 7rem;
    line-height: 1rem;
}
.contact_cont{
    margin-left: 8%;
    margin-top: 10%;
}
.contact_cont h1, p{
    color: #d1d5db;
}